*::after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
    margin-right: calc(-1 * (100vw - 100%));
  }



.clearFix::after {
    content: "";
    display: table;
    clear: both;
}

.page__cell {
  max-width: 1000px;
  font-size: 1rem;
  text-align: center;
  padding: 2rem 0;
  margin: 0 auto;
  word-break: break-all;
}

.textarea {
  width: 20rem;
  height: 2rem;
  resize: none;
  margin-bottom: 1rem;
}

.hide {
  position: absolute;
  overflow: hidden;
  z-index: -1;
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  border-radius: 7px;
}

.el {
  display: flex;
  list-style: none;
  text-align: left;
  padding-top: 2rem;
}

input[type="checkbox" i] {
  background-color: initial;
  cursor: default;
  box-sizing: border-box;
  margin: 0;
  border: initial;
}

.textElement {
  margin-top: 1rem;
}

input[type="text" i] {
  margin-top: 1rem;
  padding: 0;
}

.setArticleEditingLabel, .deleteArticleLabel, .submitEditsLabel {
  cursor: pointer;
  float: right;
  background-color: gray;
  padding: 5px 10px;
  border-radius: 7px;
  margin-right: 2rem;
}

.inputTextLabel {
  background-color: gray;
  border-radius: 7px;
  cursor: pointer;
  padding: 5px 10px;
}

.inputTextLabel:hover, .deleteArticleLabel:hover, .setArticleEditingLabel:hover {
  background-color:rgba(0, 0, 0, 0.3);
  
}

.inputTextLabel:active, .deleteArticleLabel:active {
  background-color: #333;
  border-color: #333;
  color: #eee;
}
